*{
    margin : 0;
    text-decoration: none;
    list-style: none;
    color : #110747;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

html{
    background-color : #a4a7bb
}

h1{
    text-align: center;
    font-size: 55px;
    margin : 25px 0
}

h2{
    text-align: center;
    font-weight: 100;
    margin-bottom : 25px
}

/* connexion */

#options-inscription{
    justify-content: center;
    display: flex;
    gap : 2px;
    margin-top : 25px;

    a{
        text-decoration: underline;

        &:hover{
            color : #764141
        }
    }
}

#alert{
    color : rgb(91, 0, 0);
    text-align: center;
    margin : 10px
}

#form-connexion{
    margin : 0 auto;
    width: fit-content;
    display: flex;
    gap : 25px
}

/* inscription */

#form-inscription{
    display: flex;
    flex-direction: column;
    gap : 15px;
    width: fit-content;
    margin : 0 auto;
    justify-content: center;
    align-items: end;
    padding-right : 185px;

    input[type='submit']{
        margin-right : 36px;
    }
}

/* hub */

#welcome{
    text-align: center;
    font-weight: 100;
    font-size: 22px;
}

.button{
    border: 1px solid ;
    border-radius: 5px;
    padding : 9px 30px;
    margin : 25px;
    display: block;
    width: fit-content;

    &:hover{
        background-color: #281f5f;
        color : #a0a0a0;
    }
}

.red:hover{
    background-color: #5f1f1f;
    color : #cdcdcd;
}

#p-logout{
    text-align: center;
    margin-bottom : 25px
}

#div-button{
    display: flex;
    gap : 25px;
    justify-content: center;
}

.button-hub{
    border-radius: 9px;
    border : 3px solid;
    padding : 111px 50px;
    background-color: #8b8eb5;
    color : #1d1b67;
    margin-top : 40px;
    font-size: 25px;

    &:hover{
        background-color: #373063;
        color : #a0a0a0;  
    }
}

/* paramètres */

#form-modifier{
    display: flex;
    flex-direction: column;
    gap : 15px;
    width: fit-content;
    margin : 0 auto;
    justify-content: center;
    align-items: end;
    padding-right : 80px;

    input[type='submit']{
        margin-right : -14px;
    }
}

/* teams */

.list-team{
    display: flex;
    justify-content: center;
    gap : 25px;
    align-items: center;
    margin : 15px auto;
    border : 1px solid;
    border-radius: 5px;
    width: fit-content;
    padding : 15px;

    h2{
        margin : 0
    }

    p{
        font-size: 15px;
    }

    .div-list{
        display: flex;
        flex-direction: column;
        gap : 5px
    }
    
}

#filter{
    display: flex;
    justify-content: center;
    gap : 25px;
    margin-bottom : 40px;
}
/* 
.titre-list{
    text-align: center;
    margin-top : 25px
} */

.create{
    margin-left : auto;
    margin-right : auto;
}

#form-team{
    display: flex;
    margin : auto;
    gap : 10px;
    width : fit-content
}

/* rejoindre équipe */

#team{
    margin-top :25px;

    p{
        text-align: center;
    }

    h2{
        margin : 0;
        font-weight: 700;
    }

    >div{
        display: flex;
        flex-direction: column;
        gap : 25px;
        margin: auto;
        width: fit-content;
        margin-top : 25px;

        border : 1px solid;
        padding : 15px;
        border-radius : 5px;

        >div{
            display: flex;
            gap: 120px;
            align-items: center;
            justify-content: space-between;

        }
    }

}